.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 25%; border-right:1px solid #c4c4c4;
  }
img{ max-width:100%;}
.Rectangle-4 {
    width: 286px;
    height: 699px;
    background-color: var(--white);
  }

  .header-inbox {
    width: 286px;
    height: 52px;
    background-color: var(--white);
  }

  .Inbox {
    width: 47px;
    height: 22px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    color: #262626;
  }

  .Rectangle {
    width: 286px;
    height: 46px;
    background-color: #f9f9f9;
  }

  .search_bar {
    width: auto;
    height: 28px;
    border-radius: 6px;
    background-color: white;
    margin-top: 3%;
    margin-left: 2%;
  }

  .Rectangle-10 {
    width: 269px;
    height: 28px;
    border-radius: 6px;
    background-color: var(--white);
    margin-top: 3%;
    margin-left: 2%;
  }


.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.chat_ib h5{ font-size:15px; color:#262626; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 50px;
  height: 50px;
}
.chat_ib {
  padding: 0 0 0 65px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #eeeff1;
  margin: 0;
  padding: 18px 16px 10px;
  height: 150px;
  display: grid;
}
.chat_date {
    width: 48px;
  height: 14px;
  font-family: Rubik;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #bfbfbf;
}

.subject_chat {
    width: 178px;
  height: 15px;
  font-family: Rubik;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}