<div class="inbox_people">
  <div class="Rectangle-4">
    <div class="header-inbox">
      <div class="Inbox">
        <h4>Inbox</h4>
      </div>
    </div>
    <div class="Rectangle">
      <div class="ui search">
        <input type="text" [(ngModel)]="keyword" class="search_bar" placeholder="Search">
      </div>
        <!-- <span class="input-group-addon">
          <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
        </span>  -->
    </div>
    <div class="inbox_chat">
      <div class="chat_list" *ngFor="let data of sortArr | searchFilter: 'sender_name': keyword; let i = index">
        <div class="chat_people" [routerLink]="['/conversation',data.id_chat, data.subject_id]">
          <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>{{data.sender_name}} <span class="chat_date">Dec 25</span></h5>
            <p style="color: #414141">{{data.subject_name}}</p>
            <p>{{data.messages}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>