<body>
  <div class="sidenav">
  </div>
  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <inbox></inbox>
        <!-- <conversation></conversation> -->
        <!-- <div class="mesgs">
          <div class="msg_history"> -->
            <router-outlet></router-outlet>
          <!-- </div>
        </div>
        <menu-subject></menu-subject> -->
      </div>

    </div>
  </div>
</body>