.container{max-width:100%; margin:auto; padding-left: 5%; padding-right: 0%}
.messaging { padding: 0 0 50px 0;}
.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  .top_spac{ margin: 20px 0 0;}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(185deg, #ff711c, #ff9b4b);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 55%;
    background-image: url("../assets/bg-chat.png")
  }

  .msg_history {
    height: 516px;
    overflow-y: auto;
  }