.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.Rectangle-4 {
    width: 286px;
    height: 699px;
    background-color: var(--white);
  }

  .header-inbox {
    width: 286px;
    height: 52px;
    background-color: var(--white);
  }

  .Inbox {
    width: 47px;
    height: 22px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-left: 5%;
    padding-top: 5%;
    color: #262626;
  }

  .Rectangle {
    width: 286px;
    height: 46px;
    background-color: #f9f9f9;
  }

  .Rectangle-10 {
    width: 269px;
    height: 28px;
    border-radius: 6px;
    background-color: var(--white);
    margin-top: 3%;
    margin-left: 2%;
  }

.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 20%; border-right:1px solid #c4c4c4;
}
img{ max-width:100%;}
.Rectangle-4 {
  width: 286px;
  height: 699px;
  background-color: var(--white);
}

.header-inbox {
  width: 286px;
  height: 52px;
  background-color: var(--white);
}

.Inbox {
  font-family: Rubik;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  color: #262626;
}

.Rectangle {
  width: 286px;
  height: 46px;
  background-color: #f9f9f9;
}

.Rectangle-10 {
  width: 269px;
  height: 28px;
  border-radius: 6px;
  background-color: var(--white);
  margin-top: 3%;
  margin-left: 2%;
}


.inbox_msg {
border: 1px solid #c4c4c4;
clear: both;
overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.chat_ib h5{ font-size:15px; color:#262626; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
float: left;
width: 50px;
height: 50px;
}
.chat_ib {
padding: 0 0 0 0;
width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
border-bottom: 1px solid #eeeff1;
margin: 0;
padding: 18px 16px 10px;
}
.chat_date {
  width: 48px;
height: 14px;
font-family: Rubik;
font-size: 12px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: right;
color: #bfbfbf;
}

.subject_chat {
  width: 178px;
height: 15px;
font-family: Rubik;
font-size: 13px;
font-weight: normal;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: left;
color: #414141;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}
.bg_chat {
    width: 498px;
    height: 886px;
    object-fit: contain;
  }

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 5px 0 20px;
  vertical-align: top;
  width: auto;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 100%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 55%;
  background-image: url("../../assets/bg-chat.png")
}

 .sent_msg p {
  background: #f1dfce none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#262626;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; width:auto; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: auto;
  margin-right: 3%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: linear-gradient(185deg, #ff711c, #ff9b4b);
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.roomchat {
    height: auto;
}

.input_msg {
    height: 25%;
}

.chat_border {
  border-bottom: 1px solid #eeeff1;
}

.orange {
  color: #fd8d2e
}