<!-- <div class="mesgs"> -->
<!-- Start of chat room -->
<div class="mesgs">
  <div class="msg_history">
    <div class="msg_history">
      <div class="roomchat">
        <div *ngFor="let data of chatUser">
          <div *ngIf="data.sender != 1" class="incoming_msg_img">
            <img
              src="https://ptetutorials.com/images/user-profile.png"
              alt="sunil"
            />
          </div>
          <div [ngClass]="data.sender == 1 ? 'outgoing_msg' : 'received_msg'">
            <div [ngClass]="data.sender == 1 ? 'sent_msg' : 'received_withd_msg'">
              <p class="chat_border">{{ data.sender_name }}</p>
              <p>{{ data.messages }}</p>
              <span class="time_date"> {{ data.time_send }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="input_msg">
    <div class="type_msg">
      <div class="input_msg_write">
        <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="contentChat"/>
        <button class="msg_send_btn" type="button">
          <i class="fa fa-paper-plane-o" aria-hidden="true" (click)="sendMessages()"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end chat room -->

<!-- start of subject list -->
<div class="inbox_people">
  <div class="Rectangle-4">
    <div class="header-inbox">
      <div class="Inbox"><h4>Subject List</h4></div>
    </div>
    <div class="inbox_chat">
      <div *ngFor="let data of arrSubject" class="chat_list subject_list">
        <div class="chat_people" [routerLink]="['/conversation', data.id_chat, data.id]">
          <div class="chat_ib">
            <h5>{{data.subject_name}}</h5>
            <p style="color: #414141">{{ data.subject }}</p>
            <p>{{ data.time }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of subject list -->
<!-- </div> -->
